.imagenCart{
   width: 170px;   
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
}
.btnCart{
  text-decoration: none;
  color:black;
  background-color: rgb(159, 177, 236);
  padding: 10px;
  margin: 1rem;
  border: solid 2px black;
}
.btnCart:hover{
    background-color: rgb(119, 147, 238);
    color: black;
}
.btnTrash{
    background-color: rgb(241, 71, 71);
    padding: 10px;
}
.btnTrash:hover{
    background-color:rgb(241, 13, 13);
}
.carritoVacio{
    background-color: rgb(184, 195, 241);
    margin: 4rem;
    padding: 2rem;
}
.carritoContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divCart{
    padding: 6rem;
}