.valor{
    background-color: rgb(93, 133, 241);
    margin-left: 2px;
    border-radius: 20px;
    padding: 6px;
}

.img{
    border-radius: 5px;
    font-size: 30px;
    color: white;
    margin-left: 15px;
    margin-right: 29px;
}
.img:hover{
    color: white;
    background-color: rgb(97, 86, 241);
}