.box{
    text-decoration: none;
    list-style: none;
    background-color: rgb(114, 85, 243);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}
.box:hover{
    background-color: rgb(158, 133, 240);
    border: solid black 2px;
}
.box a{
    text-decoration: none;
    color: white;
}

ol, ul{
    padding-left: 0rem;
}
