.nav{
    background-color: rgb(93, 133, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.lista{
    background-color: rgb(74, 98, 236);
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 1rem;
}
.lista a{
    background-color: rgb(126, 124, 248);
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin: 2rem;

}
.lista a:hover{
    background-color: rgb(81, 11, 211);
    border-radius: 10px;
}
.Titulo{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.navbar-2{
    display: flex;
    align-items: center;
}
.btn{
    background-color: rgb(126, 124, 248);
    padding: 15px;
    margin: 1rem;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(81, 11, 211);
}
.sesion{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: rgb(55, 85, 253);
    padding: 1rem;
    color: white;
}
.sesion button {
    background-color: rgb(211, 216, 243);
    border-radius: 10px;
}
.loginNav{
    color: white;
    display:flex;
    flex-direction: column;
    padding: 1rem;
}
.navBtn{
    background-color: rgb(143, 170, 245);
    padding: 5px;
    border-radius: 10px;
}
.navBtn:hover{
    background-color: rgb(74, 98, 236);
}