.footer{
    background-color: rgb(93, 133, 241);
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer a{
    color: white;
}
.textFooter{
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 30px;
}
.textFooter:hover{
    color: white;
    border-radius: 10px;
    background-color: rgb(81, 11, 211);
}