.footer{
    background-color: rgb(93, 133, 241);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer a{
    color: white;
}
.textFooter{
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 30px;
}
.textFooter:hover{
    color: white;
    border-radius: 10px;
    background-color: rgb(81, 11, 211);
}
.footerNav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}
.btnFooter{
    padding: 2px;
    text-decoration: none;
    margin: 5px;
}
.btnFooter:hover{
    background-color: rgb(91, 101, 241);
    border-radius: 10px;
}
.redes{
    display: flex;
}